.intro-page-area{
    height: 600px;
    min-width: 1700px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}
.intro-page-header{
    margin-top: 20px;
    padding-top: 20px;
    width: 95%;
    height: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
    /*background-color: mediumvioletred;*/
}
.intro-page-header>div:first-child{
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}
.intro-page-user-info{
    margin: 30px 0px;
    text-align: center;
    width: 100%;
    font-size: 20px;
}


.intro-page-user-info>div:nth-child(n){
    display: inline-block;
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
}

.intro-page-user-info>div:nth-child(2n){
    display: inline-block;
    width: 80px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    color: gold;
    text-align: left;
}

.intro-page-user-info>div:first-child{
    display: inline-block;
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
}
.intro-page-header>hr{
    margin: 0px;
    background-color: white;
    display: block;
    width: 70%;
    height: 1px;
}


/*///////////////////////////////////*/
.intro-notice-free-board-area{
    width: 95%;

    /*전체 높이*/
    height: 350px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #e4e4e4;
}

.intro-notice-free-board-body{
    width: 70%;
}


.intro-board-notice-div{
    width: 50%;
    height: 100%;
    display: inline-block;
    background-color: red;
}
.intro-board-notice-title{
    color:white;
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
    height: 30px;
    background-color: gold;
    line-height: 30px;
}

.intro-board-notice-table-area{
    margin-right: 2px;
    /*테이블 전체 크기*/
    height: 320px;
    background-color: #1D8899;
}



/*.intro-page-board-notice>div:first-child{*/
/*    !*margin-top: 30px;*!*/
/*}*/
/*.intro-page-board-notice-table{*/
/*    width: 100%;*/
/*    color: white;*/
/*    font-size: 16px;*/
/*    border-collapse: collapse;*/
/*    table-layout: fixed;*/
/*}*/
/*.intro-page-board-notice-table>thead>tr>th:nth-child(n){*/
/*    width: 100px;*/
/*    height: 30px;*/
/*    font-size: 14px;*/
/*    background-color: #2E313A;*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/
/*.intro-page-board-notice-table>thead>tr>th:first-child{*/
/*    width: 50px;*/
/*}*/
/*.intro-page-board-notice-table>thead>tr>th:nth-child(2){*/
/*    width: 240px;*/
/*}*/
/*.intro-page-board-notice-table>thead>tr>th:nth-child(3){*/
/*    width: 50px;*/
/*}*/
/*.intro-page-board-notice-table>thead>tr>th:last-child{*/
/*    width: 140px;*/
/*}*/

/*.intro-page-board-notice-table>tbody>tr>td:nth-child(n){*/
/*     text-align: center;*/
/*     height: 30px;*/
/*    font-size: 12px;*/
/*     background-color: #272930;*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    border-top: 1px solid #4e5361;*/
/* }*/
/*.intro-page-board-notice-table>tbody>tr>td:nth-child(2){*/
/*    text-align: left;*/
/*    padding-left: 10px;*/
/*}*/


.intro-free-board-div{
    width: 50%;
    height: 100%;
    display: inline-block;
    background-color: red;
    background-color: greenyellow;
}

.intro-free-board-title-area{
    /*width: 100%;*/
    height: 30px;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    background-color: blueviolet;
}
.intro-free-board-title{
    color:white;
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
    height: 30px;
    background-color: blue;
}
.intro-board-free-table-area{
    height: 320px;
    margin-left: 2px;
    background-color: yellow;
}

.intro-page-free-board-table{
    width: 100%;
    font-size: 16px;
    height: 320px;
    color: white;
    border-collapse: collapse;
    background-color: #1d7280;
    /*삭제*/
    /*table-layout: fixed;*/
}
.intro-page-free-board-table>thead>tr>th:nth-child(n){
    height: 30px;
    background-color: #2E313A;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.intro-page-free-board-table-table>thead>tr>th:first-child{
    width: 50px;
}
.intro-page-free-board-table>thead>tr>th:nth-child(2){
    width: 240px;
}
.intro-page-free-board-table>thead>tr>th:nth-child(3){
    width: 50px;
}
.intro-page-free-board-table>thead>tr>th:last-child{
    width: 140px;
}

.intro-page-free-board-table>tbody>tr>td:nth-child(n){
    height: 30px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    /*background-color: #272930;*/
    border-top: 1px solid #4e5361;
    /*background-color: darkred;*/
}
.intro-page-free-board-table>tbody>tr>td:nth-child(2){
    text-align: left;
    padding-left: 10px;
}




