.board-write-area{
    height: 900px;
    min-width: 900px;
    min-height: 1700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}

.writting-btn{
    width: 70%;
    margin-top: 20px;


    display: flex;
    justify-content: flex-end;
    list-style: none;
    /*background-color: teal;*/
    padding-left: 0px;
}
.writting-cancel{
    display: inline-block;

}
.writting-cancel:before{
    content: ' ';
    display: inline-block;
    clear: both;
    width: 5px;
    margin-top: 4px;
    height: 15px;
    border-right: 1px solid #efefef;
    /*background-color: gold;*/
}
/*.filebox>input[type="file"] {*/
/*    position: absolute;*/
/*    width: 1px; height: 1px; padding: 0;*/
/*    margin: -1px; overflow: hidden;*/
/*    clip:rect(0,0,0,0); border: 0;*/
/*}*/
/*.filebox>label {*/
/*    display: inline-block;*/
/*    padding: .5em .75em;*/
/*    color: #999;*/
/*    font-size:inherit;*/
/*    line-height:normal;*/
/*    vertical-align:middle;*/
/*    background-color: #fdfdfd;*/
/*    cursor: pointer; border: 1px solid #ebebeb;*/
/*    border-bottom-color: #e2e2e2;*/
/*    border-radius: .25em;*/
/*}*/
/*!* named upload *!*/
/*.filebox .upload-name {*/
/*    display: inline-block;*/
/*    padding: .5em .75em;*/
/*    !* label의 패딩값과 일치 *!*/
/*    font-size: inherit;*/
/*    font-family: inherit;*/
/*    line-height: normal;*/
/*    vertical-align: middle;*/
/*    background-color: #f5f5f5;*/
/*    border: 1px solid #ebebeb;*/
/*    border-bottom-color: #e2e2e2;*/
/*    border-radius: .25em;*/
/*    -webkit-appearance: none;*/
/*    !* 네이티브 외형 감추기 *!*/
/*    -moz-appearance: none;*/
/*    appearance: none;*/
/*}*/

.init-input{
    webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
